<div class="footer">
        <a href="https://instagram.com/saurabhtsingh"><img src="./img/instagram-icon.png" alt=""></a>
        <a href="https://github.com/ss497254"><img src="./img/github-icon.png" alt=""></a>
        <h3>Created by {{name}}</h3>
</div>