<div class="header">
        <div class="logo">
            <img src="./img/weather-logo.png" alt="">
            Weather App
        </div>
        <a href="/">Home</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
</div>