*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
}
body{
    display: flex;
    background-color: rgb(222, 241, 222);
    flex-direction: column;
}
a{
    text-decoration: none;
}
.header {       
    position: relative;
    z-index: 1;         
    height: 4rem;
    width: 100%;
    background: #7952b3;
    display: flex;
    font-size: 1.2rem;
    padding: 0 2rem;
}
.logo{
    flex-grow: 1;
    font-size: 1.4rem;
    display: flex;
}
.logo > img{
    width: 35px;
    border-radius: 25%;
    margin:0 1% 0 5%;
}
.header > *{
    display: flex;
    align-items: center;
    color: #fff;
}
.header > a{
    padding:0 3rem;
}
.header > a:hover{
    color: #000;
    background: rgb(241, 241, 241);
}
.content{
    min-height: calc(100vh - 7rem);
    padding: 5% 15% 0 15%;
    font-size: 2rem;
    text-align: center;
}
.content > h2{
    font-size: 2rem;
}
.content > h1{
    text-align: center;
    font-size: 50px;
}
.content > p{
    padding: 1%;
}
.content > form{
    display: flex;
    font-size: 2rem;
    border: 0.5px solid black;
    margin: 0 15%;
}
.content > form > input{
    flex-basis: 80%;
    height: 3rem;
    padding: 0 5%;
    border: 1px;
    border-radius: 2%;
    outline: none;
    background-color: #fff !important;
}
.content > form > button{
    color: #fff;
    flex-basis: 20%;
    height: 3rem;
    border: 0px;
    border-left: 1px solid black;
    border-radius: 0%;
    background-color: #7952b3;
}
.content > form > button:hover{
    background-color: rgb(45, 94, 255);
    color: #fff;
}
.footer {
    height: 3rem;
    display: flex;
    align-items: center;
    background: #7952b3;
    color: #fff;
    place-content: center;
}
.footer > a{
    height: 2rem;
    width: 4rem;
}
.footer > a > img{
    height: 2rem;
    border-radius: 25%;
}
.show{
    display: flex;
    margin: 0 15%;
    flex-direction: column;
}
.show > .row{
    text-align: left !important;
    height: 2.5rem;
    background-color: #ffffff;
    border: 1px solid black;
    margin: 2px 0;
    padding: 0.5rem 5%;
}
.show > .row > span{
    color: red;
}
@media (max-width:700px)
{
    *{
        font-size: 12px;
    }
    .header{
        height: 4rem !important;
    }
    .logo > img{
        width: 25px;
        border-radius: 25%;
        padding: 0;
    }
    .header > a{
        padding:0 2rem;
        font-size: 1.2rem;
    }
    .content > form{
        margin: 0 5%;
    }
    .show{
        margin: 0 5%;
    }
}
@media (max-width:500px){
    *{
        font-size: 10px;
    }
    .content{
        margin: 0;
        padding: 10% 15% 0 15%;
    }
    .header > a{
        padding:0 1rem;
        font-size: 1.2rem;
    }
    .content > form{
        margin: 0%;
    }
    .show{
        margin: 0%;
    }
}